<div id="personMsg">
    <p><img src="/images/person.png">moekosu  .China</p>
    <p>weibo: 求学路程序</p>
    <p>Github: moekosu-chenxu</p>
</div>
</div>
<script src="/javascripts/jquery-1.7.1.js" ></script>
<script src="/javascripts/func.js" ></script>
</body>
</html>
