<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?f8eced2954afe6dccd899a2abd79d0ca";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div id="content">
    <div id="personMsg">
        <p><img id="personLogo" src="/images/man.jpg"></p>
        <p><img src="/images/person.png">moekosu</p>
        <p>weibo: 求学路程序</p>
    </div>