
<% include head.ejs %>


<div id="modules">
    <div class="module block">
        <div class="module_tro">抽奖模块</div>
    </div>
    <div class="module block">
        <div class="module_tro">商城模块</div>
    </div>
    <div class="module block">
        <div class="module_tro">抽奖模块</div>
    </div>
</div>


<% include footer.ejs %>