<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <div id="content">
      <div id="titleInfo">
        <h1><%= title %></h1>
      </div>
      <div id="loginInfo">
        <h1><%= username %></h1>
      </div>
      <div id="bodyInfo"></div>
    </div>
  </body>
</html>
