
<% include head.ejs %>


<div id="modules" class="modules">
    <!-- ejs遍历参数数组 -->
    <% modules.forEach(function(module){ %>
        <div class="module block" onclick="goPartPage(this, '<%=module.url%>', '/')">
            <div class="module_tro"><%=module.name%></div>
        </div>
    <% }) %>
</div>
<!-- 内容模块页(里面包含不同内容的iframe) -->
<div id="pageContent" class="modules disp_none">
    <div id="pageBack" class="pageBack">
        <img src="/images/back2.png">
        后退
    </div>
</div>


<% include footer.ejs %>