<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
<div id="content">
    <div id="titleInfo">

    </div>
    <div id="loginInfo">

    </div>
    <div id="bodyInfo"></div>
</div>
</body>
</html>
