<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/toolsList.css' />
    <style>

    </style>
</head>
<body>
    <div id="tools">
        <% tools.forEach(function(tool){ %>
            <span class="toolItem" onclick="pop(this, '<%=tool.url%>')"><%=tool.name%></span>
        <% }) %>
    </div>

    <script src="/javascripts/jquery-1.7.1.js"></script>
    <script src="/javascripts/popMask.js"></script>
    <script>
        // 结束loading动画
        load.endLoading();

        // 弹出密保验证框
        function pop(obj, url)
        {
            pass.showMsg(function (password) {
                if(password != "" && password != null){
                    download(obj, url, password);
                    pass.closeMsg();
                }
                else{
                    popMsg1.showMsg('请输入密保密码');
                }
            });
        }

        // 成功跳转下载链接
        function download(obj, url, pass) {
            var name = $(obj).text();
            var qname = name.split("/");
            name = qname[qname.length-1];
            parent.location.href = 'http://120.79.69.50:8012/moekosu/tools/download?pass='+ pass +'&fileName='+ name +'&downloadUrl=' + url;
        }
    </script>
</body>
</html>
