<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/toolsList.css' />
    <style>

    </style>
</head>
<body>
    <div id="tools">
        <% tools.forEach(function(tool){ %>
            <span class="toolItem" onclick="pop(this, '<%=tool.url%>')"><%=tool.name%></span>
        <% }) %>
    </div>

    <div id="pass" class="disp_none">
        <input type="password" id="password"/>
        <button id="pass_submit">提交密保</button>
    </div>

    <script src="/javascripts/jquery-1.7.1.js"></script>
    <script>
        function pop(obj, url)
        {
            $("#pass").show();
            $("#pass_submit").on('click', function () {
                var pass = $("#password").val();
                if(pass != "" && pass != null){
                    download(obj, url, pass);
                }
                $("#pass").hide();
                $("#pass_submit").off('click');
            });
        }

        function download(obj, url, pass) {
            var name = $(obj).text();
            var qname = name.split("/");
            name = qname[qname.length-1];
            parent.location.href = '/moekosu/tools/download?pass='+ pass +'&fileName='+ name +'&downloadUrl=' + url;
        }
    </script>
</body>
</html>
