html, body {margin: 0;padding: 0;height: 100%;background-color: #efeeee;}
#content {width: 80%;height: 100%;margin: auto;}
.modules {
	width: 79%;height: 90%;float: left;
	border:1px solid #ccc;margin-top: 2%;
	box-sizing: border-box;padding: 50px;background-color: #f9f9f9;}
.modules .module{
	border: 1px solid #ccc;
	width: 90%;
	height: 80px;
	text-align: center;
	line-height: 80px;
	margin: 0 auto 50px;
	cursor: pointer;
}
.modules .module:hover{
	background-color: #ececec;
}
#personMsg {
	width: 20%;height: 90%;float: left;
	box-sizing: border-box;padding: 50px;
	border: 1px solid #ccc;border-right: 0;
	margin-top: 2%;background-color: #f9f9f9;}
#personMsg img{
	margin-right: 5px;
}
#personMsg p{
	text-align: center;
}
.pageBack {
	position: absolute;
	width: 70px;
	height: 30px;
	cursor: pointer;
	line-height: 30px;
	border-bottom: 3px solid #585858;
}
.pageBack img {
	vertical-align: text-bottom;
}

.disp_none {display: none;}