html, body {margin: 0;padding: 0;height: 100%;background-color: #efeeee;}
#content {width: 80%;margin: auto;}
.modules {width: 100%;height: 650px;float: left;border:1px solid #ccc;border-top: 0;padding: 50px;background-color: #f9f9f9;}
.modules .module{
	border: 1px solid #ccc;
	width: 300px;
	height: 150px;
	text-align: center;
	line-height: 140px;
	float: left;
	margin: 0 50px 50px 0;
	cursor: pointer;
}
.modules .module:hover{
	background-color: #ececec;
}
#personMsg {width: 100%;height: 200px;float: left;padding: 0 50px;}
#personMsg img{
	margin-right: 5px;
}
.pageBack {
	position: absolute;
	width: 70px;
	height: 30px;
	cursor: pointer;
	line-height: 30px;
	border-bottom: 3px solid #585858;
}
.pageBack img {
	vertical-align: text-bottom;
}

.disp_none {display: none;}