#tools{
    width: 70%;
    margin: auto;
}
#tools .toolItem{
    color: #354EFF;
    text-decoration: underline;
    cursor: pointer;
    display: block;
}
#pass{
    position: absolute;
    width: 100px;height: 100px;
}