<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/blog.css' />
    <link rel='stylesheet' href='/stylesheets/wangEditor.css' />
    <style>
        #logo{
            height: 100px;
            width: 100%;
            border-bottom: 1px solid #ccc;
            margin-bottom: 30px;
            font-size: 30px;
            line-height: 130px;
        }
        #title{
            width: 100%;
            height: 50px;
        }
        #title input{
            width: calc(100% - 4px);
            height: 30px;
            text-indent: 4px;
            font-size: 16px;
        }
        #editor1{
            margin-bottom: 30px;
        }
        .button{
            border: 2px solid #7b7b7b;
            width: 100px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            cursor: pointer;
            float: left;
            margin-right: 20px;
        }
        #submit:hover,#cancel:hover{
            background-color: #ececec;
        }
    </style>
</head>
<body>

<div>
    <div id="logo">
        <span>写文章</span>
    </div>
    <div>
        <div id="title">
            <input type="text" />
        </div>
        <div id="editor1"></div>
        <div>
            <div id="submit" class="button">提交</div>
        </div>
    </div>
</div>

<script src="/javascripts/jquery-1.7.1.js"></script>
<script src="/javascripts/wangEditor.js"></script>
<script src="/javascripts/popMask.js"></script>
<script src="/javascripts/blog.js"></script>
<script>
    $(function(){
       var E = window.wangEditor;
       var editor = new E("#editor1");
       editor.create();

        // 提交
        $("#submit").on('click', function(){
            var title = $("#title input").val();
            var content = editor.txt.html();
            var groupId = 1;
            if(title == null || title == ''){
                alert("请输入标题");
                return;
            }
            if(content == null || content == ''){
                alert("请输入正文内容");
                return;
            }

            $.ajax({
                url: '/service/blog/add',
                async: false,
                type: 'POST',
                dataType: 'json',
                data: {
                    "title": title,
                    "content": content,
                    "groupId": groupId
                },
                success: function(resp){
                    if(resp.isSuccess){
                        alert("新增成功");
                        location.reload();
                    }
                    else{
                        alert(resp.errMsg);
                    }
                },
                error: function(err){
                    alert("新增失败");
                },
                complete: function(){
                    // 结束loading动画
                    load.endLoading();
                }
            });
        });
    });
</script>
</body>
</html>
